@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    @if (IsIndex)
    {
        <main>
            @Body
        </main>
    }
    else
    {
        <SwipeArea>
            <ErrorHandler>
                <Header />
                <main>
                    @Body
                </main>
                <NavMenu />
            </ErrorHandler>
        </SwipeArea>
    }
</div>

@code {
    public bool IsIndex { get; set; } = true;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        IsIndex = string.IsNullOrEmpty(e.Location.Replace(NavigationManager.BaseUri, ""));
        StateHasChanged();
    }
}