@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    @if (IsIndex)
    {
        <main>
            @Body
        </main>
    }
    else
    {
        <ErrorHandler>
            <Header />
            <main class="@(_keyboardIsOpen ? "minimized" : "")">
                @Body
            </main>
            <NavMenu />
        </ErrorHandler>
    }
</div>

@code {
    private bool _keyboardIsOpen;
    public bool IsIndex { get; set; } = true;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        KeyboardService.KeyboardStateChanged += HandleKeyboardChanged;
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        IsIndex = string.IsNullOrEmpty(e.Location.Replace(NavigationManager.BaseUri, ""));
        StateHasChanged();
    }

    private void HandleKeyboardChanged(bool isOpen)
    {
        _keyboardIsOpen = isOpen;
        StateHasChanged();
    }
}