@if (!_keyboardIsOpen)
{
    <nav class="tabs">
        <NavLink class="nav-link" href="market" Match="NavLinkMatch.Prefix">
            <img class="nav-icon" src="icons/globe.svg" />
        </NavLink>
        <NavLink class="nav-link" href="buysell" Match="NavLinkMatch.Prefix">
            <img class="nav-icon" src="icons/cart.svg" />
        </NavLink>
        <NavLink class="nav-link" href="trades" Match="NavLinkMatch.Prefix">
            <img class="nav-icon" src="icons/trade.svg" />
        </NavLink>
        <NavLink class="nav-link" href="wallet" Match="NavLinkMatch.Prefix">
            <img class="nav-icon" src="icons/wallet.svg" />
        </NavLink>
        <NavLink class="nav-link" href="account" Match="NavLinkMatch.Prefix">
            <img class="nav-icon" src="icons/account.svg" />
        </NavLink>
    </nav>    
}

@code {
    private bool _keyboardIsOpen;
    private int _currentRoute = 0;
    private List<string> _routes = ["market", "buysell", "trades", "wallet", "account"];

    // When navigating without swiping, need to set the correct route - TODO
    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public static Action<bool>? OnKeyboardChanged;

    private void MoveNextRoute()
    {
        if (_currentRoute < _routes.Count)
            _currentRoute++;
        else
            _currentRoute = 0;

        NavigationManager.NavigateTo(_routes[_currentRoute]);
    }

    private void MovePrevRoute()
    {
        if (_currentRoute > 0)
            _currentRoute--;
        else
            _currentRoute = _routes.Count;

        NavigationManager.NavigateTo(_routes[_currentRoute]);
    }

    protected override Task OnInitializedAsync()
    {
        SwipeArea.OnSwipe += HandleSwipe;
        KeyboardService.KeyboardStateChanged += HandleKeyboardChanged;

        return base.OnInitializedAsync();
    }

    private void HandleSwipe(Manta.Models.SwipeDirection swipeDirection)
    {
        switch (swipeDirection)
        {
            case Manta.Models.SwipeDirection.Left:
                MoveNextRoute();
                break;
            case Manta.Models.SwipeDirection.Right:
                MovePrevRoute();
                break;
            default: break;
        }
    }

    private void HandleKeyboardChanged(bool isOpen)
    {
        _keyboardIsOpen = isOpen;
        StateHasChanged();
    }
}