.account-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 58px;
}

label {
    font-weight: bold;
}

.accounts-text {
    margin-bottom: 10px;
    font-weight: bold;
}

.accounts {
    max-height: 170px;
    overflow: auto;

    .account {
        display: flex;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 8px;
        margin: 6px 0 6px;
        align-items: center;

        ion-icon {
            margin-left: auto;
        }
    }

    .active-account {
        background-color: #808080;
    }
}

.account-info-text {
    margin-bottom: 10px;
    font-weight: bold;
    /*margin-left: 10px;*/
    /*border-bottom: 1px solid #fff;*/
}

.payment-methods-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.supported-currencies {
    display: flex;
    flex-direction: column;
    max-height: 160px;
    overflow-y: auto;
    margin: 0 0 10px;
    overflow: auto;

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        height: 16px;

        label {
            margin-left: 6px;
        }
    }
}

.supported-currencies-text {
    margin-top: 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;

    .field {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    button {
        margin-top: 20px;
    }
}

.custom-account-name {
    display: flex;
    margin-top: 6px;

    label {
        margin-left: 6px;
    }
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}