.buysell-main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .offers-spinner-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100dvh - 62px - 18px - 40px - 176px);
    }
}

.account-type {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;

    .active {
        border-bottom: 2px solid #808080;
        color: #808080;
    }

    .collapse {
        background-color: #121212;
        border-radius: 100px;
        border: 1px solid #414141;
        height: 24px;
        width: 24px;
        min-width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        img {
            height: 22px;
            width: 22px;
        }
    }

    .toggle-container {
        display: flex;

        p {
            color: #737373;
        }

        .buy-txt {
            margin-right: 6px;
        }

        .txt-active {
            color: #fff;
        }

        .sell-txt {
            margin-left: 6px;
        }
    }
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
        display: flex;
        align-items: center;
    }

    .xmr-icon {
        width: 16px;
        height: 16px;
        background-image: url("../img/monero-icon-small.png");
        background-size: contain;
        margin: 0 6px 0; 
    }
}

.inputs {

}

.dropdown {
    margin: 10px 0 10px;
}

.offers-list-text-container {
    display: flex;
    justify-content: space-between;
}

.offers-list-text {
    margin-bottom: 10px;
}

.offers {
    overflow: auto;
    height: 100%;

    .offer {
        background-color: grey;
        margin-bottom: 10px;
        padding: 14px;
        border-radius: 12px;
        background-color: #1F1F1F;
        height: 105px;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;

        .offer-link {
            color: #fff;

            &:last-child {
                margin-bottom: 0;
            }

            .offer-top {
                display: flex;
                justify-content: space-between;
                white-space: nowrap;

                .offer-currency {
                    display: flex;
                    align-items: center;
                    background-color: #343434;
                    width: fit-content;
                    border-radius: 4px;
                    overflow-x: hidden;
                    white-space: nowrap;
                    padding: 2px 4px 2px;

                    img {
                        margin: 0 2px 0;
                    }

                    i {
                        margin-right: 4px;
                    }
                }
            }

            .card {
                display: flex;
                align-items: center;
                background-color: darkgray;
                width: fit-content;
                padding: 2px 4px 2px;
                border-radius: 4px;
                /*margin-bottom: 4px;*/
                background-color: #343434;
            }
        }

        .amounts {
            margin-top: 10px;

            p {
                margin-bottom: 12px;
            }
        }
    }
}

.create-offer-button{
    margin-bottom: 10px;
}

.buttons {
    background-color: #000000;
    padding: 10px 0 10px;
}

.no-deposit {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    label {
        margin-left: 10px;
    }
}

.dropdown-collapsed {
    
}