.buysell-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.account-type {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;

/*    button {
        width: auto;
        border: none;
        border-radius: initial;
        background-color: transparent;  
        color: #fff;

        &:nth-child(3) {
            margin-right: auto;
        }
    }*/

    .active {
        border-bottom: 2px solid #808080;
        color: #808080;
    }
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputs {

}

::deep .dropdown {
    margin: 10px 0 10px;
}

.offers-list-text-container {
    display: flex;
    justify-content: space-between;
}

.offers-list-text {
    font-weight: bold;
    /*text-transform: capitalize;*/
    margin-bottom: 10px;
}

.offers {
    overflow: auto;
    height: calc(100dvh - 62px - 18px - 40px - 176px);

    .offer {
        background-color: grey;
        margin-bottom: 10px;
        padding: 6px;
        border-radius: 8px;

        .offer-link {
            color: #fff;

            &:last-child {
                margin-bottom: 0;
            }

            .offer-top {
                display: flex;
                justify-content: space-between;

                .offer-currency {
                    display: flex;
                    align-items: center;
                    background-color: darkgray;
                    width: fit-content;
                    padding: 4px;
                    border-radius: 4px;
                    margin-bottom: 4px;
                    overflow-x: hidden;
                    white-space: nowrap;

                    ion-icon {
                        margin: 0 2px 0;
                    }
                }
            }

            .card {
                display: flex;
                align-items: center;
                background-color: darkgray;
                width: fit-content;
                padding: 4px;
                border-radius: 4px;
                margin-bottom: 4px;
            }
        }
    }
}

.create-offer-button{
    margin-bottom: 10px;
}

.buttons {
    background-color: #131313;
    padding: 10px 0 10px;
}

