.chat-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  /**/
  overflow: hidden;
}
.chat-main ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 10px 10px 0;
  background-image: url("../img/messager-bg.png");
  background-size: contain;
  border-radius: 12px;
  margin: 0;
}
.chat-main ul li {
  width: fit-content;
  max-width: 90%;
  /*background-color: #808080;*/
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 10px;
}
.chat-main ul li .date {
  font-size: 11px;
}
.chat-main ul li .message {
  white-space: pre-wrap;
}
.chat-main ul .left {
  backdrop-filter: blur(0.5);
  border-bottom-left-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.chat-main ul .right {
  background-color: #fff;
  color: #000;
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}
.chat-main .input-container {
  position: relative;
  padding-top: 10px;
}
.chat-main .input-container input {
  margin-bottom: 10px;
  padding-right: 38px;
}
.chat-main .input-container button {
  position: absolute;
  right: -4px;
  top: 10px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.chat-main .input-container button:disabled {
  opacity: 0.6;
}

::-webkit-scrollbar {
  display: none;
}

.no-messages {
  height: calc(100dvh - 56px - 60px - 62px);
}
