p {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;

    button {
        margin-bottom: 10px;
    }
}


.dropdown {
    margin-bottom: 10px;
}

input[type=number] {
    margin-bottom: 10px;
}
