.create-offer-main {
    display: flex;
    flex-direction: column;
    /*    height: calc(100dvh - 62px - 58px);*/
    padding-bottom: 58px;

    p {
        margin-bottom: 10px;
    }

    .buttons {
        margin-top: 20px;
/*        position: absolute;
        bottom: 0;
        background-color: #131313;
        padding: 10px 0 10px;*/

        button {
            margin-bottom: 10px;
        }
    }

    .dropdown {
        margin-bottom: 10px;
    }

    input[type=number] {
        margin-bottom: 10px;
    }
}
