.create-offer-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 78px;
}
.create-offer-main .buttons {
  margin-top: 20px;
}
.create-offer-main .buttons button {
  margin-bottom: 10px;
}
.create-offer-main .margin {
  margin-bottom: 10px;
}
.create-offer-main .no-margin {
  margin-bottom: 0 !important;
}
.create-offer-main .dropdown {
  margin-bottom: 10px;
}
.create-offer-main input[type=number] {
  margin-bottom: 10px;
}

.price-toggle {
  margin-bottom: 10px;
}
