::deep .buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
::deep .buttons .verify-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  color: #fff;
  margin-top: 6px;
}
::deep .buttons .verify-modal-button:disabled {
  opacity: 0.8;
}

.install-modal p {
  margin-bottom: 10px;
}

.installing {
  display: flex;
}
.installing .loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
