.my-offers-main .tab-container {
  margin-bottom: 20px;
}

.xmr-icon {
  width: 14px;
  height: 14px;
  background-image: url("../img/monero-icon-small.png");
  background-size: contain;
  margin: 0 6px 0;
}

.offers {
  /*color: #000;*/
}
.offers .offer {
  background-color: #1f1f1f;
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}
.offers .offer:last-child {
  margin-bottom: 0;
}
.offers .offer .offer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.offers .offer .offer-top .offer-top-left {
  display: flex;
  /*align-items: center;*/
  align-items: flex-start;
  flex-direction: column;
}
.offers .offer .offer-top .offer-top-left .base-amounts {
  display: flex;
  /*margin-bottom: 10px;*/
}
.offers .offer .offer-top .offer-top-left .counter-amounts {
  display: flex;
  align-items: center;
}
.offers .offer .offer-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.offers .offer .offer-top-right .amounts {
  display: flex;
  background-color: #323232;
  border-radius: 4px;
  padding: 2px 4px 2px;
  color: #6f6f6f;
}
.offers .offer .offer-top-right .amounts .amounts-right {
  margin-left: auto;
}

.direction {
  margin-top: 4px;
  background-color: #323232;
  border-radius: 4px;
  padding: 2px 4px 2px;
  color: #6f6f6f;
}

.buttons {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid #353535;
  padding-top: 14px;
}
.buttons button:first-child {
  margin-right: 6px;
}

.extra-info {
  position: relative;
}
.extra-info p {
  border: 1px solid #666666;
  border-radius: 10px;
  padding: 10px;
}
.extra-info .copy-icon {
  height: 16px;
  min-height: 16px;
  width: 16px;
  min-width: 16px;
  filter: invert(1);
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.info-container {
  display: flex;
  margin-bottom: 10px;
}
.info-container .info {
  filter: invert(1) !important;
  margin-right: 6px;
}
