.offer-main {
  /*height: 100%;*/
  font-weight: 500;
}

.dropdown {
  margin-bottom: 10px;
}

button, .slider-container {
  margin-top: 10px;
}

.range {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 10px;
  color: #4c4c4c;
  font-weight: 500;
}

.funding-section {
  margin-top: 30px;
  margin-bottom: 20px;
}

.passphrase-input {
  background-color: #fff;
  color: #000;
  font-weight: 400;
}
