.offer-main {
    /*height: 100%;*/

    font-weight: 500;
}

.dropdown {
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
}

.range {
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 10px;
    color: #4c4c4c;
    font-weight: 500;
}