.settings-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.settings-main .info-container {
  margin-bottom: 10px;
}
.settings-main .dropdown {
  margin-bottom: 10px;
}
.settings-main .remote-node-txt {
  margin-top: 20px;
  margin-bottom: 6px;
}
.settings-main .note {
  font-size: 14px;
  color: #9c9c9c;
}
.settings-main .remote-node-section .note {
  margin-bottom: 8px;
}
.settings-main .backup-btn {
  /*margin-bottom: 10px;*/
}
.settings-main .remote-node-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.settings-main .or {
  text-align: center;
  margin-top: 10px;
}
.settings-main input {
  margin-bottom: 10px;
}
.settings-main ::deep .toggle-main {
  margin-top: 10px;
}
.settings-main .backup-buttons {
  display: flex;
}
.settings-main .backup-buttons button:first-child {
  margin-right: 10px;
}

.configure input {
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

.url {
  white-space: nowrap;
}
