.settings-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    .info-container {
        margin-bottom: 10px;
    }

    .dropdown {
        margin-bottom: 10px;
    }

    .remote-node-txt {
        margin-top: 20px;
        margin-bottom: 6px;
    }

    .note {
        font-size: 14px;
        color: #9c9c9c;
    }

    .remote-node-section {

        .note {
            margin-bottom: 8px;
        }
    }

    .backup-btn {
        /*margin-bottom: 10px;*/
    }

    .remote-node-disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .or {
        text-align: center;
        margin-top: 10px;
    }

    input {
        margin-bottom: 10px;
    }

    ::deep .toggle-main {
        margin-top: 10px
    }

    .backup-buttons {
        display: flex;

        button:first-child {
            margin-right: 10px;
        }
    }
}

.configure input {
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

.url{
    white-space: nowrap;
}