.settings-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.settings-main .info-container {
  margin-bottom: 10px;
}
.settings-main .dropdown {
  margin-bottom: 10px;
}
.settings-main .remote-node-txt {
  margin-top: 20px;
  margin-bottom: 6px;
}
.settings-main .note {
  font-size: 14px;
  color: #9c9c9c;
}
.settings-main .remote-node-section .note {
  margin-bottom: 8px;
}
.settings-main .backup-btn {
  /*margin-bottom: 10px;*/
}
.settings-main .remote-node-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.settings-main .or {
  text-align: center;
  margin-top: 10px;
}
.settings-main input {
  margin-bottom: 10px;
}
.settings-main ::deep .toggle-main {
  margin-top: 10px;
}
.settings-main .backup-buttons {
  display: flex;
}
.settings-main .backup-buttons button:first-child {
  margin-right: 10px;
}

/*::deep .configure {
    max-height: 1000px;
    transition: height 1s;
}*/
.configure input {
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

.configure div {
  margin-bottom: 10px;
}

.url {
  white-space: nowrap;
}

.support-links-container .support-links-title {
  /*margin-bottom: 10px;*/
}

.link-container {
  display: flex;
  margin-bottom: 6px;
}
.link-container img {
  height: 18px;
  filter: invert(1);
  margin-right: 8px;
}
.link-container a {
  line-height: 18px;
  text-decoration: underline;
  color: #fff;
}

::deep .external-link {
  line-height: 12px;
  font-size: 12px;
  text-decoration: underline;
  color: #000;
}

.url-connections {
  max-height: 100px;
  overflow-y: auto;
}
.url-connections .connection {
  background-color: #121212;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 6px 10px 6px;
  border-radius: 4px;
}
.url-connections .connection .connect-node {
  margin-left: auto;
  margin-right: 4px;
}
.url-connections .connection:last-child {
  margin-bottom: 0;
}
.url-connections .connection p {
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.url-connections .connection .online-status {
  height: 10px;
  aspect-ratio: 1;
  border-radius: 10px;
  margin-right: 10px;
}
.url-connections .connection .online {
  background-color: #0CB952;
}
.url-connections .connection .offline {
  background-color: #ff4025;
}
.url-connections .connection .unknown {
  background-color: #414141;
}
.url-connections .connected {
  border: 2px solid #0CB952;
}
