.trades-list {

    .trade-card {
        border: 1px solid #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;

        .trade-card-top {
            display: flex;
            width: 100%;

            .short-id {
                width: 90px;
            }

            a {

            }

            .status {
                margin-left: auto;
                margin-right: auto;
            }

            .icon-container {
                margin-left: auto;
            }
        }
    }
}

.tabs{
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.disputes-list {

    .dispute-card {
        border: 1px solid #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }
}