.trade-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    .trade-main-top {
        display: flex;
        justify-content: space-between;
    }

    .role {
        margin-bottom: 10px;
    }

    .process {

        .process-step {
            display: flex;
            margin-bottom: 10px;
            color: #737373;

            .completed-step {
                color: #fff;
            }

            i {
                margin-right: 10px;
                /*position: relative;*/
            }
        }
    }
}


.loader {
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.payment-instructions {
    margin-bottom: 20px;

    .start-payment{
        margin: 20px 0 10px;
    }
}

.info {
    margin-top: 20px;

    .info-txt {
        margin-bottom: 10px;
    }

    .amount-price-info {
        background-color: #121212;
        border-radius: 12px;
        padding: 14px;
        margin-bottom: 10px;

        .price-info {
            display: flex;
            align-items: center;

            img {
                margin: 0 4px 0;
            }
        }

        .amount-info {

        }
    }
}

.dispute-container {
    margin-bottom: 10px;
    display: flex;

    i {
        margin: 0;
        margin-right: 10px;
    }

    p {
        font-weight: bold;
    }
}

.slider-wrapper {
    margin-bottom: 10px;
}