.wallet-main {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {

        .monero-card {
            height: 186px;
            max-width: 380px;
            background-image: url(../img/wallet-background.svg);
            background-size: cover;
            border-radius: 20px;
            padding: 14px;
            display: flex;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            flex-direction: column;

            .monero-card-top {
                display: flex;
                align-items: center;

                .logo {
                    background-image: url(../img/monero-wallet-icon.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    /*filter: invert(100%);*/
                    height: 44px;
                    aspect-ratio: 1;
                }

                .wallet-title {
                    font-weight: 500;
                    font-size: 18px;
                    text-align: center;
                    margin-left: 12px;
                }
            }

            p {
                color: #fff;
            }

            .monero-card-bottom {

                .monero-card-bottom-available {
                    /*display: flex;*/
                    align-items: flex-end;
                    margin: 10px 0 6px;

                    .wallet-balance-fiat {
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }

                    .wallet-pending-balance-fiat {
                        opacity: 0.8;
                        line-height: 14px;
                        font-size: 12px;
                    }
                }

                .monero-card-bottom-pending {

                    .wallet-balance-crypto {
                        font-size: 18px;
                        font-weight: 500;
                        margin-top: 10px;
                        line-height: 22px;
                    }

                    .wallet-pending-balance-crypto {
                        opacity: 0.8;
                        line-height: 14px;
                        font-size: 12px;
                        display: inline-block;
                    }
                }

                .monero-card-bottom-reserved {
                }
            }
        }
    }

    .addresses-text {
        margin-top: 10px;
        font-weight: bold;
    }

    .tab-container {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .slider-wrapper {
        margin-bottom: 10px;
    }

    ul {
        margin-top: 10px;
        overflow-y: auto;

        li {
            margin-bottom: 10px;
        }

        .transaction-card {
            display: flex;
            background-color: #121212;
            border: 1px solid #414141;
            padding: 10px;
            padding-left: 16px;
            border-radius: 40px;
            position: relative;
            color: #fff;
            align-items: center;

            img {
                margin-right: 8px;
            }

            .in {
            }

            .out {
                transform: rotate(180deg);
            }

            .transaction-amount {
                margin-right: 10px;
                width: 80px;
                white-space: nowrap;
                font-weight: 400;
            }
        }
    }
}

.withdraw {

    input {
        margin-bottom: 10px;
        text-overflow: ellipsis;
    }

    .amount-container {
        display: flex;

        input {
            /*           border-end-end-radius: 0;
            border-start-end-radius: 0;*/
        }

        .send-all {
            display: flex;
            align-items: center;
            background-color: #d3d3d3;
            padding: 4px 8px 4px;
            width: fit-content;
            border-end-end-radius: 8px;
            border-start-end-radius: 8px;
            color: #000;
            margin-bottom: 10px;
            white-space: nowrap;
        }
    }
}

.modal-content {

    p {
        margin-bottom: 6px;
    }

    .withdrawal-address {
        line-break: anywhere;
    }
}
