.dropdown-main {
    position: relative;
    box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
    width: 85px;

    input {
    }

    .text {
        font-weight: bold;
    }

    &::before {
        content: "\f282";
        z-index: 100;
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: 400 !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        top: 12px;
        right: 8px;
        color: #fff;
        transition: transform 0.2s;
    }

    .list {
        position: absolute;
        background-color: #121212;
        color: #fff;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-end-end-radius: 8px;
        display: none;
        flex-direction: column;
        z-index: 10;
        width: 100%;
        box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);

        .item-li {

            p {
            }
        }
    }
}

.hidden {
    display: none;
}

.visible {
    display: flex !important;
}

.in-hidden {
    border-radius: 8px;
}

.in-visible {
    border-end-end-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 12px;
    border-start-end-radius: 12px;
    border: none;
}

.rotate {
    &::before {
        transform: rotate(180deg);
    }
}
