@inherits ErrorBoundary

@if (CurrentException is not null)
{
    <Modal Title="Error" @bind-IsOpen="IsOpen" ModalButtonOptions="ModalButtonOptions.NONE">
        <p>@Message</p>
    </Modal>
}
@ChildContent
