<div class="info-row">
    <p class="info-text">@Label</p>
    <div class=@(IsExpandable && _isExpanded ? "inner-container inner-expanded" : "inner-container")>
        <p class=@(IsExpandable && _isExpanded ? "data expanded" : "data")>@Value</p>
        <div class="right">
            @if (IsExpandable)
            {
                <img class="eye" @onclick="() => _isExpanded = !_isExpanded" src=@(_isExpanded ? "icons/eye-fill.svg" : "icons/eye.svg") />
            }
            <img @onclick="@OnCopy" src="icons/copy.svg" />
            @if (_displayCopied)
            {
                <div class="copied">
                    Copied
                </div>
            }
        </div>
    </div>
</div>


@code {
    private bool _displayCopied = false;
    private bool _isExpanded = false;

    [Parameter]
    public string Label { get; set; } = string.Empty;
    [Parameter]
    public string Value { get; set; } = string.Empty;
    [Parameter]
    public bool IsExpandable { get; set; }

    public async Task OnCopy()
    {
        await Clipboard.Default.SetTextAsync(Value);

        _displayCopied = true;

        await Task.Delay(2000);

        _displayCopied = false;
    }
}
