.info-row {
    margin-bottom: 10px;

    .info-text {
        font-weight: 500;
    }

    .inner-container {
        display: flex;
        background-color: #121212;
        align-items: center;
        border: 1px solid #414141;
        border-radius: 100px;
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        justify-content: space-between;
        color: #fff;

        .right {
            display: flex;
        }

        .copied {
            position: absolute;
            top: -24px;
            right: 0px;
            color: #fff;
        }

        .data {
            margin-right: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
        }

        ion-icon {
            height: 16px;
            min-height: 16px;
            width: 16px;
            min-width: 16px;
        }

        .eye {
            margin-right: 6px;
        }

        .expanded {
            overflow: initial;
            line-break: anywhere;
        }
    }

    .inner-expanded {
        height: fit-content;
        padding: 16px;
        border: none;
        border-radius: 12px;
    }
}
