.info-row {
  margin-bottom: 10px;
}
.info-row .info-text {
  font-weight: 500;
}
.info-row .inner-container {
  display: flex;
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  justify-content: space-between;
  color: #000;
}
.info-row .inner-container .copied {
  position: absolute;
  top: -24px;
  right: 0px;
  color: #fff;
}
.info-row .inner-container .data {
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-row .inner-container ion-icon {
  height: 16px;
  min-height: 16px;
  width: 16px;
  min-width: 16px;
}
.info-row .inner-container .eye {
  margin-right: 6px;
}
.info-row .inner-container .expanded {
  overflow: initial;
  line-break: anywhere;
}
