.searchable-dropdown-main {
  position: relative;
}
.searchable-dropdown-main input {
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-right: 40px;
  white-space: nowrap;
}
.searchable-dropdown-main .text {
  /*font-weight: bold;*/
  margin-bottom: 10px;
}
.searchable-dropdown-main::before {
  content: "\f282";
  z-index: 100;
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 44px;
  right: 16px;
  color: #fff;
  transition: transform 0.2s;
}
.searchable-dropdown-main .list-wrapper {
  padding-right: 16px;
  background-color: #121212;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.searchable-dropdown-main .list {
  background-color: #121212;
  color: #fff;
  padding: 16px;
  border-bottom-left-radius: 12px;
  border-end-end-radius: 12px;
  display: none;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
  padding-bottom: 8px;
}
.searchable-dropdown-main .list .item-li {
  padding: 5px 0 5px;
}
.searchable-dropdown-main .list .item-li p {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.visible {
  /*bad*/
  display: flex !important;
}

.input-hidden {
  border-radius: 100px;
}

.input-visible {
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rotate::before {
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #4d4d4d;
  border-radius: 8px;
  margin-bottom: 16px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disabled::before {
  color: #222222;
}
