.tabs-main {
    display: flex;
    width: 100%;
    overflow: hidden;

    button {
        width: auto;
        border: none;
        border-radius: initial;
        background-color: transparent;
        color: #fff;
    }

    .active {
        border-bottom: 2px solid #808080;
        color: #808080;
    }
}
