.tabs-main {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.tabs-main button {
  width: auto;
  border: none;
  border-radius: initial;
  background-color: transparent;
  color: #fff;
}
.tabs-main .active {
  border-bottom: 2px solid #808080;
  color: #808080;
}
