.tabs-main {
    display: flex;
    width: 100%;
    overflow: hidden;

    button {
        width: auto;
        border: none;
        border-radius: initial;
        background-color: transparent;
        color: #fff;
        padding: 12px;
        /*box-sizing: initial;*/
    }

    .active {
        border-bottom: 2px solid #fff;
        color: #fff;
    }
}

.center {
    display: flex;
    justify-content: center;
}
