.toggle-main {
    display: flex;
    align-items: center;

    .toggle-wrapper {
        /*border: 2px solid rgb(65, 64, 97);*/
        border: 2px solid #fff;
        border-radius: 20px;
        height: 30px;
        font: inherit;
        width: 60px;
        padding: 2px;
        position: relative;
        transition: background-color 0.25s;

        .toggle {
            /*background-color: #414061;*/
            background-color: #fff;
            height: 22px;
            aspect-ratio: 1;
            border-radius: 20px;
            position: absolute;
            transition: left 0.25s;
            /*left: 2px;*/
        }
    }

    p {
        margin-left: 10px;
        text-transform: capitalize;
    }
}

.inactive {
    left: 2px;
}

.active {
    left: 32px;
}